* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* how many columns we want with fractions, also can be in px, %, auto */
  grid-template-rows: 1fr;
  grid-template-areas:
  /*4 times because we have 4 rows*/
  "sidebar content" /* white space . */
}

.title {
  grid-area: title;


  background-color: red;
  color: white;
  /*grid-column: 1 / 3;*/
  /*grid-column-start: 1;*/
  /*grid-column-end: 3;*/
}

.header {
  grid-area: header;

  background-color: blue;
  color: white;
}

.sidebar {
  grid-area: sidebar;

  background-color: orange;
  color: white;
}

.content {
  grid-area: content;
  justify-self: center; /*center the item in center width auto*/
  display: grid; /* You could have nested grids*/
  grid-template-columns: 1fr 1fr;

  background-color: purple;
  color: white;
}

.footer {
  grid-area: footer;

  background-color: pink;
  color: white;
}


/*Is easy to create responsive mobile*/
@media screen and (max-width: 768px) {
  /* This is for mobile version */
  .grid {
    grid-template-areas:
    /*4 times because we have 4 rows*/
    "title title" /*Because we have 2 columns*/
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
    grid-gap: 10px; /* space between*/
  }
}
